<div class="message-container">
  <div class="arrow-left"></div>
  <div class="message" data-testid="message">
    <span class="message-name" style="color: <%= msg.color %>"><%- msg.nickname %></span>
    <span class="message-text"><%- msg.chatMessage %></span>
    <span class="message-time"><%- msg.timeSent %></span>
  </div>
</div>
