<div class="participant" id="<%- participant.id %>">
  <img src="<%- participant.img || '/public/missingPhoto.png' %>" alt="participant">
  <span class="span participant-name"><%- participant.nickname %></span>
  <img src="/public/conversationIcon.png" alt="<%- participant.name %> photo">
</div>
