<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>webChat</title>
  </head>
  <body>
    <div class="container">
      <div class="container">
        <ul style="list-style-type: none" id="listOfNames"></ul>
      </div>

      <div class="container">
        <h1>webChat</h1>
        <div id="chat"></div>
        <br />
        <label for="nameInput">Name</label>
        <input
          class="form-control"
          name="nameInput"
          type="text"
          data-testid="nickname-box"
          id="userName"
        />
        <br />
        <button class="btn btn-primary" onclick="saveName()">Save</button>
        <br />
        <br />

        <input
          type="text"
          class="form-control form-control-lg"
          data-testid="message-box"
          id="messageInput"
        />
        <br />
        <button
          class="btn btn-outline-success"
          id="sendButton"
          data-testid="send-button"
          onclick="sendMessage()"
        >
          Enviar
        </button>
        <hr />
        <br />
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
  <script>
    var socket = io('http://localhost:3000');
    var namesList = [];
    const nameUser = document.getElementById('userName');
    const chat = document.getElementById('chat');

    const renderInit = (data) => {
      data.forEach((item) => {
        let formItem = `${item.date} - ${item.nickname} : ${item.chatMessage}`;

        let msgLine = document.createElement('p');
        msgLine.setAttribute('data-testid', 'message');
        msgLine.setAttribute(
          'class',
          'border border-info border-5 border-end-0 rounded-start'
        );
        msgLine.innerHTML = formItem;

        chat.append(msgLine);
      });
    };

    socket.on('renderInit', (data) => {
      console.log(data);
      renderInit(data);
    });

    socket.on('goAway', (data) => {
      console.log(data);
    });

    socket.on('historic', (data) => {
      let msgLine = document.createElement('p');
      msgLine.setAttribute('data-testid', 'message');
      msgLine.setAttribute(
        'class',
        'border border-info border-5 border-end-0 rounded-start'
      );
      msgLine.innerHTML = data;

      chat.append(msgLine);
    });

    const makeListOfName = (name) => {
      const itemName = document.createElement('li');
      itemName.innerHTML = name;
      const listOfNames = document.getElementById('listOfNames');
      listOfNames.appendChild(itemName);
    };

    const showAlert = () => {
      alert('Este nome já existe');
    };

    const verifyNameLenght = (name) => {
      if (name.length < 1) {
        return alert('Digite um nome válido');
      }
      {
        verifyNameExists(name);
      }
    };

    const insertNameOnList = (name) => {
      namesList.push(name);

      makeListOfName(name);
    };

    const verifyNameExists = (name) => {
      let testResult = namesList.filter((item) => {
        if (item === name) return item;
      });

      if (testResult.length > 0) {
        return alert('Este nome já existe');
      }
      {
        insertNameOnList(name);
      }
    };

    const saveName = async () => {
      let realName = nameUser.value;
      await verifyNameLenght(realName);
    };

    const sendMessage = async () => {
      //console.log('entrou aqui no sendMessage');
      let inputMsg = document.getElementById('messageInput');

      const chatMessage = inputMsg.value;
      const nickname = nameUser.value;

      socket.emit('message', { chatMessage, nickname });
    };
  </script>
</html>
