.chat-container {
  background-color: #0d1418;
  background-image: url('/public/background.png');
  background-size: 80% 130%;
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

.chat.header {
  cursor: pointer;
}

.chat-info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: 60%;
}

.chat-icon {
  margin: 0 20px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
}

.chat-container > form {
  align-items: center;
  background-color: #1e2428;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.chat-container > form img {
  margin: 0 10px;
}

.chat-container > form > button {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 29px;
  width: 50px;
}

.chat-container > form > button:disabled {
  background-image: url('/public/microphoneIcon.png');
}

.chat-container > form > button:enabled {
  background-image: url('/public/sendMsgIcon.png');
}

.chat-container > form > button:focus {
  outline: 0;
}

.chat-container > form > input {
  background-color: #33383b;
  border: none;
  border-radius: 60px;
  color: #acacac;
  flex: 1;
  font-weight: 700;
  height: 42px;
  margin: 0 10px;
  padding: 0 12px;
}

.chat-container > form > input:focus {
  outline: 0;
}

.message-container {
  display: flex;
  margin: 12px 24px;
}

.message {
  background-color: #262d31;
  border-radius: 7px;
  border-top-left-radius: 0;
  color: #f1f1f2db;
  max-width: 70%;
  padding: 6px 8px;
  word-break: break-all;
}

.message-name {
  clear: both;
  display: block;
}

.message-time {
  color: #acacac;
  float: right;
  font-size: 0.7em;
  margin-left: 10px;
  transform: translateY(7.4px);
  vertical-align: bottom;
}

.arrow {
  border-bottom: 10px solid transparent;
  border-right: 10px solid #262d31;
  border-top-left-radius: 5px;
  height: 0;
  width: 0;
}

.message-container.itsMe {
  display: flex;
  flex-direction: row-reverse;
}

.message-container.itsMe > .message {
  background-color: #056162;
  border-top-left-radius: 7px;
  border-top-right-radius: 0;
}

.message-container.itsMe > .arrow {
  border-left: 10px solid #056162;
  border-right: none;
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
}
