.conversations-container {
  align-items: stretch;
  background-color: #131c21;
  border-right: 1px solid #30373b;
  display: flex;
  flex: 0.55 0.55;
  flex-direction: column;
  max-width: 400px;
}

.conversations.header > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  width: 40%;
}

.search-container {
  align-items: center;
  border-bottom: 1px solid #30373b;
  display: flex;
  justify-content: center;
  padding: 6px 10px;
}

.search-container > label {
  align-items: center;
  background-color: #323739;
  border-radius: 20px;
  display: flex;
  height: 36px;
  justify-content: center;
  width: 100%;
}

.contact-container > img {
  border-radius: 50px;
  width: 45px;
}

.search-container > label > img {
  margin-left: 20px;
  margin-right: 25px;
}

.search-container > label > input {
  background-color: transparent;
  border: none;
  color: #acacac;
  flex: 1;
  font-weight: 700;
  height: 100%;
  text-overflow: ellipsis;
}

.search-container > label > input:focus {
  outline: 0;
}

.contact-list {
  flex: 1;
  overflow-y: auto;
}

.contact-container {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
  padding: 0 16px;
}

.contact-info {
  align-items: center;
  border-bottom: 1px solid #30373b;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: space-between;
  margin-left: 13px;
}

.contact-info > .div > :first-child {
  margin-top: 15px;
}

.contact-info > .div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

.contact-name {
  color: #f1f1f2db;
  font-weight: 600;
  text-overflow: ellipsis;
}

.contact-lastMessage {
  color: #acacac;
  font-size: 0.9em;
}

.div.contact-lastMessage {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.span.contact-lastMessage {
  display: block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contact-lastSeenMsg {
  align-self: flex-start;
  color: #acacac;
  font-size: 0.7em;
  margin-top: 18px;
}

.contact-container:hover {
  background-color: #323739a8;
  cursor: pointer;
}

.contact-container.selected {
  background-color: #323739;
}

.contact-container > img:before {
  background-image: url('/public/missingPhoto.png');
}
