body, html {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  background-color: #131c21;
  display: flex;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
  justify-content: center;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #394045;
}

.app {
  align-items: stretch;
  display: flex;
  height: 100%;
  justify-content: stretch;
  max-height: 1024px;
  max-width: 1396px;
  width: 100%;
}

header {
  align-items: center;
  background-color: #2a2f32;
  color: #f1f1f2db;
  display: flex;
  justify-content: space-between;
  min-height: 59px;
  padding: 0px 16px;
}

header img {
  cursor: pointer;
}

.header > img:first-child {
  border-radius: 50px;
  margin-right: 13px;
  width: 40px;
}

div.dnone {
  display: none;
}
