* {
  background-color: black;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: var(--light-color);
	margin: 20px;
}

.title {
  display: flex;
  color: white;
  justify-content: center;
}

.text {
  color: white;
}

.dynamic-container {
  display: flex;
  width: 95vw;
  min-height: 70vh;
}

.side-bar {
  width: 30vw;
}

.main-chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-form-container {
  display: flex;
  width: 70vw;
}

.input-chat {
  width: 50vw;
  font-size: 17px;
}

.btn-chat {
  width: 10vw;
}

.btn {
  cursor: pointer;
	padding: 5px 15px;
	border: 1;
	font-size: 14px;
}

.red {
  color: rgb(255, 28, 28);
}

.blue {
  color: rgb(35, 172, 252);
}