.base { margin: 15px; }

h1 {
  color: rgb(20, 233, 169);
  text-align: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.sendMessage {
  bottom: 0;
  display: flex;
  flex-direction: row;
  margin: 20px;
  position: absolute;
}

.boxMessage {
  border: 2px solid rgb(20, 233, 169);
  border-bottom: black;
  height: 300px;
  margin: 20px 0;
  overflow: auto;
  padding: 20px;
  width: 500px;
}

.message {
  background-color: #f6bb42;
  border: 1px solid gray;
  border-color: #f4a911;
  border-radius: 3px;
  color: black;
  font-size: 18px;
  margin: 10px;
  overflow: auto;
  padding: 25px;
}
